<% unless @votes.blank? %>
  <h5 class="text-center votes-title mt-1">Votes</h5>
  <div class="d-flex flex-wrap h-100 w-100">
    <div class="w-50 votes-category votes-category--green">
      <h6 class="text-center votes-subtitle votes-subtitle--green">Relocate</h6>
      <% @keep_votes.each do |k, v| %>
        <div class="w-100 d-flex justify-content-start align-items-center">
          <% v.each do |votes| %>
            <img src="<%= votes[1] %>" class="card-user-small">
          <% end %>
          <p class="m-0 vote-playlist-name"><%= k %></p>
        </div>
      <% end %>
    </div>
    <div class="w-50 votes-category votes-category--red">
      <h6 class="text-center votes-subtitle votes-subtitle--red" >Delete</h6>
      <% @delete_votes.each do |vote| %>
        <div class="w-100 text-center">
          <img src="<%= vote.user.spotify_picture_url %>" class="card-user-small">
        </div>
      <% end %>
    </div>
  </div>
<% end %>
