// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #1db954;
$gray: #222529;
$light-gray: #F4F4F4;

$light-green: #86ff8647;
$light-red: #ff9c9c40;
