
<div class="col-xs-12 col-sm-3">
  <a class="add-new-button" href="#" data-toggle="modal" data-target="#newPlaylistCleaner">
    <p>Crea un nuevo sistema de votación</p>
    <i class="fas fa-plus-circle"></i>
  </a>
</div>

<!-- Modal -->
<div class="modal fade" id="newPlaylistCleaner" tabindex="-1" role="dialog" aria-labelledby="newPlaylistCleanerLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newPlaylistCleanerLabel">Crea un nuevo sistema de votación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(PlaylistCleaner.new) do |f| %>
          <%= f.input :spotify_playlist_id %>
          <%= f.association :users, label_method: :email, value_method: :email %>
        <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
