<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center"><%= " #{@playlist_cleaner.description} en #{@playlist_cleaner.playlist_name}" %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-center">

      <iframe src="https://open.spotify.com/embed/user/<%= @spotify_user.id %>/playlist/<%= @playlist.id %>" width="300" height="600" frameborder="0" allowtransparency="true" allow="encrypted-media">
      </iframe>

    </div>
    <div class="col-12 col-sm-6 text-center">
      <ul>
        <% @tracks.each do |track| %>
          <% if track.id != "7nAPRvSYSzGfSy2lPahjCQ" &&  track.id != "32cdqBgL7Q9e3inhwkfMYU" %>
            <li>
                <span><%= track.name %></span>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

