<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-center mt-4">Welcome</h2>
      <p class="text-center mt-4">It's like democracy, but for playlists...vote for the song you want to keep and for the ones you like to delete.</p>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-12 text-center mt-4">
      <a href="/users/auth/spotify" class="btn spotify-btn" data-turbolinks="false">
        <i class="fab fa-spotify"></i>
        Log in with Spotify
      </a>
    </div>
  </div>
</div>

